## Import library

In [4]:
import pandas as pd
from IPython.display import display, HTML

In [5]:
f = open("loc.txt")
DATA_LOC = f.readline() + '/'
f.close()

## Importing Data

In [6]:
data_dict = pd.read_csv(DATA_LOC+"data_dictionary.csv")

In [7]:
train_df = pd.read_parquet(DATA_LOC+"train_data.parquet", engine='auto')

In [27]:
test_df = pd.read_parquet(DATA_LOC+"test_data.parquet", engine='auto')

## Exploring the data

In [9]:
#display(HTML(data_dict.to_html()))
data_dict

,masked_column,Description,Type
0,id1,Primary Key(masked),Key
1,id2,Customer ID (masked),-
2,id3,Offer ID,Categorical
3,id4,Event timestamp,Numerical
4,id5,Event Date,Numerical
...,...,...,...
367,f362,Total clicks on the incoming offer's industry ...,Numerical
368,f363,CTR on the incoming offer's industry for the g...,Numerical
369,f364,CM’s past 6 moth impressions on relevant offers,Numerical
370,f365,CM’s past 6 moth clicks on relevant offers,Numerical
371,f366,CM’s past 6 moth CTR on relevant offers,Numerical

In [10]:
train_df_description = train_df.describe()

In [11]:
# display(HTML(train_df_description.to_html()))
train_df_description

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
count,770164,770164,770164,770164,770164,770164,278506,322972,108562,68869,...,587734,628173,727175,232,654412,654412,654412,661850,661850,661850
unique,770164,46550,757,763371,3,2,82,88,74,65,...,2305,2150,2,1,1951,110,8398,3893,505,18084
top,1366776_189706075_16-23_2023-11-02 22:22:00.042,1396352,92636,2023-11-01 08:57:21.690,2023-11-01,0,13.0,9.0,1.0,1.0,...,0.0,-9999.0,0.0,1.0,1.0,0.0,0.0,51.0,0.0,0.0
freq,1,510,2446,5,301698,733113,42443,33756,19425,14848,...,13352,53759,725345,232,42543,418293,418293,6773,205968,205968

In [12]:
test_df_description = test_df.describe()

In [13]:
# display(HTML(test_df_description.to_html()))
test_df_description

,id1,id2,id3,id4,id5,f1,f2,f3,f4,f5,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
count,369301,369301,369301,369301,369301,131879,155016,49747,30494,257014,...,362575,369293,347489,113,316481,316481,316481,318139,318139,318139
unique,369301,21118,727,365544,2,82,88,74,64,94,...,1380,1275,2,1,1636,99,5435,3108,361,11184
top,1362907_91950_16-23_2023-11-04 18:56:26.000794,1175954,84457,2023-11-04 07:55:02.690,2023-11-05,13.0,9.0,1.0,1.0,6.0,...,-0.0187831003184442,-9999.0,0.0,1.0,1.0,0.0,0.0,54.0,0.0,0.0
freq,1,349,1143,5,186895,19699,17325,9080,6620,15829,...,871,6726,347057,113,19751,200569,200569,2804,100915,100915

In [14]:
# Vibha Data Preprocessing (f219 - f366)
all_columns = train_df.columns.tolist()

start_col = 'f219'
end_col = 'f366'

start_idx = all_columns.index(start_col)
end_idx = all_columns.index(end_col)

target_columns = all_columns[start_idx:end_idx + 1]

print(f"Total grouped columns: {len(target_columns)}")
print(target_columns[:5])  

# train_df[target_columns] = train_df[target_columns].fillna(train_df[target_columns].median())

Total grouped columns: 148
['f219', 'f220', 'f221', 'f222', 'f223']

In [15]:
null_counts = train_df[target_columns].isnull().sum()

null_counts[null_counts > 0]

f219    281290
f220    746072
f221    762406
f222    283575
f223        18
         ...
f362    115752
f363    115752
f364    108314
f365    108314
f366    108314
Length: 146, dtype: int64

In [16]:
null_counts[null_counts > 0].sort_values(ascending=False)

f360    769932
f221    762406
f220    746072
f222    283575
f219    281290
         ...
f301        18
f300        18
f299        18
f298        18
f292        18
Length: 146, dtype: int64

In [17]:
train_df.isnull().sum().sum()

68296406

In [18]:
for col, val in null_counts[null_counts > 0].sort_values(ascending=False).items():
    print(f"{col}: {val}")

f360: 769932
f221: 762406
f220: 746072
f222: 283575
f219: 281290
f347: 197029
f348: 197029
f325: 195753
f329: 195753
f310: 195741
f326: 195738
f330: 195738
f331: 195737
f328: 195737
f327: 195737
f311: 195737
f312: 195737
f313: 192403
f320: 182430
f324: 182430
f323: 182430
f322: 182430
f321: 182430
f318: 182430
f319: 182430
f317: 182430
f316: 182430
f315: 182430
f314: 182430
f355: 182430
f356: 182430
f357: 182430
f358: 141991
f351: 141991
f354: 141991
f353: 141991
f352: 141991
f341: 132302
f336: 132103
f342: 131255
f337: 130900
f343: 130276
f338: 129921
f340: 129894
f339: 129894
f344: 129880
f346: 129880
f345: 129880
f362: 115752
f361: 115752
f363: 115752
f365: 108314
f364: 108314
f366: 108314
f359: 42989
f273: 18
f251: 18
f246: 18
f247: 18
f248: 18
f249: 18
f335: 18
f334: 18
f333: 18
f332: 18
f250: 18
f252: 18
f244: 18
f253: 18
f254: 18
f255: 18
f256: 18
f257: 18
f258: 18
f259: 18
f260: 18
f245: 18
f243: 18
f274: 18
f242: 18
f223: 18
f224: 18
f225: 18
f226: 18
f227: 18
f228: 18
f229: 18
f230: 18
f231: 18
f232: 18
f233: 18
f234: 18
f235: 18
f236: 18
f237: 18
f238: 18
f239: 18
f240: 18
f241: 18
f261: 18
f262: 18
f263: 18
f295: 18
f293: 18
f272: 18
f291: 18
f290: 18
f289: 18
f288: 18
f287: 18
f286: 18
f285: 18
f284: 18
f283: 18
f282: 18
f281: 18
f280: 18
f279: 18
f278: 18
f277: 18
f276: 18
f275: 18
f294: 18
f296: 18
f264: 18
f297: 18
f265: 18
f266: 18
f267: 18
f268: 18
f269: 18
f270: 18
f271: 18
f309: 18
f308: 18
f307: 18
f306: 18
f305: 18
f304: 18
f303: 18
f302: 18
f301: 18
f300: 18
f299: 18
f298: 18
f292: 18

In [19]:
null_counts = train_df.isnull().sum()
total_rows = len(train_df)

In [20]:
high_null_cols = null_counts[null_counts > 0.6 * total_rows].index.tolist()
moderate_null_cols = null_counts[(null_counts > 0.1 * total_rows) & (null_counts <= 0.6 * total_rows)].index.tolist()
low_null_cols = null_counts[(null_counts > 0) & (null_counts <= 0.1 * total_rows)].index.tolist()

In [22]:
data_dict['Description'] = data_dict['Description'].astype(str).str.strip()
data_dict['Type'] = data_dict['Type'].astype(str).str.strip().str.lower()
print('types changed')

categorical_cols = data_dict[data_dict['Type'].str.contains('categorical')]['Description'].tolist()
print('categorical_cols extracted')
one_hot_cols = data_dict[data_dict['Type'].str.contains('one hot')]['Description'].tolist()
print('one_hot_cols extracted')
numerical_cols = data_dict[data_dict['Type'].str.contains('numerical')]['Description'].tolist()
print('numerical_cols extracted')

categorical_cols = [col for col in categorical_cols if col in train_df[target_columns].columns]
print('categorical_cols changed')
one_hot_cols = [col for col in one_hot_cols if col in train_df[target_columns].columns]
print('one_hot_cols changed')
numerical_cols = [col for col in numerical_cols if col in train_df[target_columns].columns]
print('numerical_cols changed')

# Output counts for verification
len(categorical_cols), len(one_hot_cols), len(numerical_cols)

types changed
categorical_cols extracted
one_hot_cols extracted
numerical_cols extracted
categorical_cols changed
one_hot_cols changed
numerical_cols changed

(0, 0, 0)

In [23]:
# High-missing
print(len(high_null_cols))
i=0
for col in high_null_cols:
    print(i, col)
    if col in numerical_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in one_hot_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in categorical_cols:
        train_df[col] = train_df[col].fillna('missing')
    i+=1

# Moderate-missing
i=0
for col in moderate_null_cols:
    print(i, col)
    if col in numerical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].median())
    elif col in one_hot_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in categorical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].mode()[0])
    i+=1

# Low-missing
i=0
for col in low_null_cols:
    print(i, col)
    if col in numerical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].median())
    elif col in one_hot_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in categorical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].mode()[0])
    i+=1

62
0 f1
1 f3
2 f4
3 f13
4 f14
5 f15
6 f16
7 f17
8 f18
9 f19
10 f20
11 f21
12 f29
13 f33
14 f34
15 f35
16 f36
17 f37
18 f40
19 f48
20 f64
21 f66
22 f70
23 f79
24 f80
25 f81
26 f82
27 f84
28 f88
29 f92
30 f112
31 f114
32 f115
33 f116
34 f117
35 f118
36 f119
37 f120
38 f121
39 f122
40 f135
41 f136
42 f154
43 f176
44 f187
45 f188
46 f189
47 f190
48 f191
49 f192
50 f193
51 f194
52 f195
53 f196
54 f197
55 f205
56 f206
57 f207
58 f218
59 f220
60 f221
61 f360
0 f2
1 f5
2 f6
3 f7
4 f8
5 f9
6 f10
7 f11
8 f12
9 f22
10 f23
11 f24
12 f25
13 f26
14 f27
15 f31
16 f32
17 f39
18 f41
19 f42
20 f43
21 f44
22 f45
23 f46
24 f47
25 f49
26 f50
27 f51
28 f52
29 f53
30 f54
31 f55
32 f56
33 f57
34 f58
35 f78
36 f83
37 f104
38 f107
39 f110
40 f130
41 f131
42 f133
43 f134
44 f139
45 f140
46 f141
47 f142
48 f143
49 f144
50 f145
51 f151
52 f208
53 f209
54 f210
55 f211
56 f212
57 f217
58 f219
59 f222
60 f310
61 f311
62 f312
63 f313
64 f314
65 f315
66 f316
67 f317
68 f318
69 f319
70 f320
71 f321
72 f322
73 f323
74 f324
75 f325
76 f326
77 f327
78 f328
79 f329
80 f330
81 f331
82 f336
83 f337
84 f338
85 f339
86 f340
87 f341
88 f342
89 f343
90 f344
91 f345
92 f346
93 f347
94 f348
95 f351
96 f352
97 f353
98 f354
99 f355
100 f356
101 f357
102 f358
103 f361
104 f362
105 f363
106 f364
107 f365
108 f366
0 f28
1 f30
2 f38
3 f59
4 f60
5 f61
6 f62
7 f63
8 f65
9 f67
10 f68
11 f69
12 f71
13 f72
14 f73
15 f74
16 f75
17 f76
18 f77
19 f85
20 f86
21 f87
22 f89
23 f90
24 f91
25 f93
26 f94
27 f95
28 f96
29 f97
30 f98
31 f99
32 f100
33 f101
34 f102
35 f103
36 f105
37 f106
38 f108
39 f109
40 f111
41 f113
42 f123
43 f124
44 f125
45 f126
46 f127
47 f128
48 f129
49 f132
50 f137
51 f138
52 f146
53 f147
54 f148
55 f149
56 f150
57 f152
58 f153
59 f155
60 f156
61 f157
62 f158
63 f159
64 f160
65 f161
66 f162
67 f163
68 f164
69 f165
70 f166
71 f167
72 f168
73 f169
74 f170
75 f171
76 f172
77 f173
78 f174
79 f175
80 f177
81 f178
82 f179
83 f180
84 f181
85 f182
86 f183
87 f184
88 f185
89 f186
90 f198
91 f199
92 f200
93 f201
94 f202
95 f203
96 f204
97 f213
98 f214
99 f215
100 f216
101 f223
102 f224
103 f225
104 f226
105 f227
106 f228
107 f229
108 f230
109 f231
110 f232
111 f233
112 f234
113 f235
114 f236
115 f237
116 f238
117 f239
118 f240
119 f241
120 f242
121 f243
122 f244
123 f245
124 f246
125 f247
126 f248
127 f249
128 f250
129 f251
130 f252
131 f253
132 f254
133 f255
134 f256
135 f257
136 f258
137 f259
138 f260
139 f261
140 f262
141 f263
142 f264
143 f265
144 f266
145 f267
146 f268
147 f269
148 f270
149 f271
150 f272
151 f273
152 f274
153 f275
154 f276
155 f277
156 f278
157 f279
158 f280
159 f281
160 f282
161 f283
162 f284
163 f285
164 f286
165 f287
166 f288
167 f289
168 f290
169 f291
170 f292
171 f293
172 f294
173 f295
174 f296
175 f297
176 f298
177 f299
178 f300
179 f301
180 f302
181 f303
182 f304
183 f305
184 f306
185 f307
186 f308
187 f309
188 f332
189 f333
190 f334
191 f335
192 f359

In [24]:
null_counts = train_df[target_columns].isnull().sum()

null_counts[null_counts > 0]

f219    281290
f220    746072
f221    762406
f222    283575
f223        18
         ...
f362    115752
f363    115752
f364    108314
f365    108314
f366    108314
Length: 146, dtype: int64

### Adding Checkpoint

In [25]:
train_df_check1=train_df # save checkpoint
# train_df=train_df_check1 # load checkpoint

## Outputting part of data

In [29]:
train_df.head(500).to_csv('output/train_df_head.csv', index=False)
test_df.head(500).to_csv('output/test_df_head.csv', index=False)
# test_df_description.to_csv('output/test_df_description.csv', index=False)
# data_dict.to_csv('output/data_dict.csv', index=False)

In [30]:
train_df.head(500)  # Display the first 500 rows of the train_df

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,2023-11-02 22:22:00.042,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,28.0,0.0,0.0,337.0,0.0,0.0
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,2023-11-01 23:51:24.999,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,87.0,0.0,0.0,1010.0,2.0,0.0019801980198019
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,2023-11-01 00:30:59.797,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,23.0,0.0,0.0,1010.0,2.0,0.0019801980198019
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,2023-11-02 22:21:32.261,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,277.0,1.0,0.003610108303249,337.0,0.0,0.0
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,2023-11-02 22:21:34.799,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,359.0,0.0,0.0,337.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1473079_58036_16-23_2023-11-03 13:19:43.145,1473079,58036,2023-11-03 13:19:43.145,2023-11-03,0,None,None,None,None,...,-0.0027180773417121,0.0955037919037061,0.0,None,3.0,0.0,0.0,65.0,0.0,0.0
496,1473079_65973_16-23_2023-11-03 13:19:42.289,1473079,65973,2023-11-03 13:19:42.289,2023-11-03,0,None,None,None,None,...,0.0020879042342192,0.0470905478285552,0.0,None,2.0,0.0,0.0,422.0,1.0,0.0023696682464454
497,1473079_989989_16-23_2023-11-03 13:19:34.074,1473079,989989,2023-11-03 13:19:34.074,2023-11-03,0,None,None,None,None,...,0.002646146281029,0.0530896630496858,0.0,None,1.0,0.0,0.0,134.0,0.0,0.0
498,1473079_70360_16-23_2023-11-03 13:19:44.853,1473079,70360,2023-11-03 13:19:44.853,2023-11-03,0,None,None,None,None,...,0.0024996254504451,0.042759624295431,0.0,None,35.0,0.0,0.0,307.0,0.0,0.0
499,1473079_28868_16-23_2023-11-03 13:19:40.705,1473079,28868,2023-11-03 13:19:40.705,2023-11-03,0,None,None,None,None,...,0.0023635099655104,0.0575210521335982,0.0,None,35.0,0.0,0.0,134.0,0.0,0.0

In [ ]:
test_df.head(500)  # Display the first 500 rows of the test_df

# AMEX Hackathon: Preprocessing Review & Recommendations

This notebook reviews the preprocessing pipeline, analyzes the data, and provides recommendations for optimal feature engineering and dimensionality reduction.

In [ ]:
# Import libraries and load data
import pandas as pd
import numpy as np

# Load the first 500 rows of train and test data
train_df = pd.read_csv('output/train_df_head.csv')
test_df = pd.read_csv('output/test_df_head.csv')

print(f"Train shape: {train_df.shape}")
print(f"Test shape: {test_df.shape}")

## 1. Target Variable & Class Distribution

The target variable is `y` (1 = click, 0 = no click). Below, we analyze the class distribution to check for imbalance.

In [ ]:
# Class distribution of target variable
y_counts = train_df['y'].value_counts()
y_ratio = train_df['y'].value_counts(normalize=True)
print('Class counts:')
print(y_counts)
print('\nClass ratio:')
print(y_ratio)

## 2. ID Columns

The dataset contains 5 ID columns (`id1` to `id5`). These are not used as features, but are important for grouping, stratification, and MAP@7 calculation.

## 3. Missing Value Analysis

We analyze missing values and review the imputation strategy. Features with high missingness may be dropped or filled with 0; moderate/low missingness can be imputed with median/mode.

In [ ]:
# Missing value analysis
missing_counts = train_df.isnull().sum()
missing_ratio = missing_counts / len(train_df)
missing_summary = pd.DataFrame({'missing_count': missing_counts, 'missing_ratio': missing_ratio})
missing_summary = missing_summary[missing_summary['missing_count'] > 0].sort_values('missing_ratio', ascending=False)
missing_summary.head(20)

## 4. Categorical Features & Cardinality

We check for categorical features and their cardinality. High-cardinality features should be encoded with target/frequency encoding or embeddings, not one-hot.

In [ ]:
# Categorical features and cardinality
cat_cols = train_df.select_dtypes(include='object').columns
for col in cat_cols:
    print(f"{col}: {train_df[col].nunique()} unique values")

## 5. Feature Engineering

- Extract temporal features (day, hour, recency) from date/time columns.
- Aggregate statistics by user/offer (mean, count, etc.).
- Consider interaction features (user-offer, user-time).

## 6. Dimensionality Reduction: PCA & Feature Selection

- Use PCA only on standardized numerical features if overfitting or multicollinearity is observed.
- For tree-based models, prefer feature selection (e.g., model-based, mutual information) over PCA.
- Drop features with extreme missingness if not useful.

In [ ]:
# Example: PCA on numerical features
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Select numerical columns (excluding IDs and target)
numeric_cols = train_df.select_dtypes(include=[np.number]).columns.difference(['y'])
X_num = train_df[numeric_cols].fillna(0)

# Standardize
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_num)

# Apply PCA (keep 95% variance)
pca = PCA(n_components=0.95, random_state=42)
X_pca = pca.fit_transform(X_scaled)
print(f"Original num features: {X_num.shape[1]}, PCA features: {X_pca.shape[1]}")

## 7. Evaluation Metric & Validation Strategy

- Metric: MAP@7 (Mean Average Precision at 7) for ranking offers per user.
- Plan for user-based or time-based validation to avoid leakage and mimic test conditions.

## 8. Recommendations & Next Steps

- Use advanced imputation for moderate missingness if time allows.
- Engineer time-based and aggregated features.
- Use PCA only if justified; otherwise, prefer feature selection.
- Prepare for MAP@7 evaluation by grouping and ranking predictions per user.
- Document all steps and rationale for reproducibility.